body {
  background-color: rgb(150, 194, 194);
}

.app-div {
  display: flex;
  gap: 30px;
}

.header {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: rgb(206, 187, 187);
  position: sticky;
  top: 10px;
  z-index: 1;
  margin: 30px;
  height: 50px;
  border: 1px solid rgb(89, 84, 84);
}

.header__text {
  font-size: 24px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

.header__photo {
  width: 30px;
  height: 30px;
}
