.new__button {
  display: flex;
  width: 100%;
  height: 48px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  border-radius: 8px;

  &--purple {
    background-color: #8a33fd;
    border: none;
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &--white {
    background: #fff;
    border: 1px solid #3c4242;
    color: #8a33fd;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &--purple:hover {
    background: #fff;
    color: #8a33fd;
    border: 1px solid #3c4242;
  }

  &--white:hover {
    background-color: #8a33fd;
    border: none;
    color: #fff;
  }
}

.new__button:hover {
  cursor: pointer;
}
